@media print {
    .noprint {
         display: none;
     }
    .noprint  * {
        display: none;
    }
    #categories > * {
        page-break-inside: avoid;
    }
    .products {
        page-break-inside: avoid;
    }
    body * {
        overflow: visible !important;
    }
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Overpass", sans-serif;
    margin: 0;
    overflow-x: hidden;
}

#devbar {
    background: #b1b1b1;
    padding: 5px 0 5px 0;
    display: inline-flex;
    justify-content: space-between;
    width: 100vw;
}

#api-select {
    display: inline-flex;
    align-items: center;
    margin: 0 0 0 8px;
}

#api {
    margin: 0;
}

#address {
    visibility: hidden;
}



input[type="radio"] {
    margin-top: -4px;
}

#copyright {
    margin: 0 8px 0 0;
}

#main {
    display: inline-flex;
    overflow: hidden;
}


#side {
    margin: 0 0 0 8px;
}

h1 { /*title*/
    margin: 0 0 0 8px;
}

#input {
    margin: 0 0 0 8px;
}

#artlist {
    margin: 10px 0 0 0;
    user-select: none;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 90vh;
    min-width: 265px;
    max-width: 265px;
}

.category-title {
    margin: 50px 0 0;
}
#categories {
    overflow-y: scroll;
    max-height: 90vh;
}

/*products*/
.products { /*contains all products*/
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 8px;
    gap: 20px;
}

.product { /*product container*/
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 220px;
    max-width: 220px;
    height: 135px;
    max-height: 135px;
    justify-content: space-between;
}

.productname { /*product name*/
    text-align: center;
    margin: 0;
    max-height: 36px;
}

.productattr { /*product attributes (img + data)*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.productimg { /*product image*/
    max-height: 90px;
    align-self: center;
    margin: auto;
}

.productdata { /*product data (dimensions + artnr + ean)*/
    display: flex;
    flex-direction: column;
    text-align: center;
}

.productsize { /*product dimensions*/
    margin: auto;
    font-size: 14px;
}

.productnr { /*product artnr*/
    font-size: 10px;
    margin: 0;
}

.productean { /*product ean*/
    margin: 0 10px 0 0;
}

#artlist {
    list-style: square;
}

.artnr{
    padding: 5px;
    padding-inline: 10px;
    font-size: 16px;
    border-radius: 10px;
    width: 60px;
    height: fit-content;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.artnr:hover {
    background-color: rgba(255, 100, 100, 1);
}

