@media print {
    .noprint {
        visibility: hidden;
    }
}
body {
    font-family: "Overpass", sans-serif;
}

#top {
    display: flex;
    justify-content: space-between;
    page-break-after: always;

}

#input {
    flex-shrink: 0;
}

.product {
    flex: 1 0 33%;
    max-width: 33vw;
}

#artlist {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    gap: 10px;
}

#artlist > * {
    background: #e1e1e1;
    padding: 4px;
    padding-inline: 10px;
    border-radius: 10px;
    max-width: fit-content;
    height: fit-content;
}

#products {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: start;
}